@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

body {
  padding: 0;
  margin: 0;
  background: #fff;
  line-height: 24px;
  overflow-x: hidden;
}

header {
  background: #3c3a39;
  padding: 1rem 3rem;
  height: 48px;
}

.dflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile {
  width: 100%;
}

a {
  text-decoration: none;
}

.logo a {
  font-size: 18px;
  color: white;
  font-weight: 700;
}

.socials a {
  margin: 1rem 0.4rem;
  text-align: left;
}

.anchor-div a {
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  background: none;
  border: 1px solid #8993a4;
  color: #091e42;
  font-size: 15px;
  font-weight: 500;
  margin: 0 0.5rem;
}

li {
  list-style: none;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  line-height: 44px;
  color: #fff;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item {
  display: none;
}

.nav-item li {
  list-style: none;
  margin: 0 0.4rem;
  align-self: center;
}

.nav-item li a {
  text-decoration: none;
  margin: 0 0.4rem;
  font-size: 1rem;
  color: white;
  align-self: center;
}

.svg {
  margin-top: 0.4rem !important;
}

.toggle-button {
  display: flex;
  flex-direction: column;
  width: 16px;
  outline: none;
  border: 0;
  background: none;
}

.toggle-span {
  background: white;
  width: 16px;
  height: 2px;
  margin-bottom: 0.2rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.hero {
  background: #1c1a19;
  padding: 2rem 1rem 1rem 1rem;
  height: 590px;
  position: relative;
  background-image: url("header-mobile.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

h1 {
  font-size: 56px;
  color: #ff6b00;
  font-weight: 400;
  text-align: left;
  font-family: "Crete Round", serif;
  line-height: 64px;
  letter-spacing: 0.37px;
}

.info {
  font-size: 24px;
  color: white;
  text-align: left;
  font-family: "Roboto", sans-serif;
  line-height: 32px;
  font-weight: 700;
}

.description p {
  font-size: 16px;
  color: white;
  font-family: "Poppins", sans-serif;
}

.mobile-projects {
  margin-top: 3rem;
}

.display-head {
  font-weight: 400;
  text-align: center;
  font-family: "Crete Round", serif;
  line-height: 52px;
  font-size: 40px;
  margin-bottom: 1rem;
}

.hr {
  background: #212121;
  height: 1px;
  width: 327px;
  margin: 1rem auto;
}

.grid-row-one {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
}

.lead-img {
  width: 100%;
}

.lead-img img {
  width: 100%;
}

.lead-description {
  width: 100%;
}

.lead-description h2 {
  font-size: 32px;
  font-weight: 400;
  font-family: "Crete Round", serif;
  color: #091e42;
  text-align: left;
  line-height: 44px;
}

.paragraph {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #091e42;
  font-weight: 500;
}

#white-p {
  color: #fff;
}

.anchor-div {
  margin-bottom: 1rem;
}

.btn {
  background: #ff6b00;
  padding: 0.5rem 1rem;
  font-size: 17px;
  font-weight: 700;
  color: white;
  text-align: center;
  line-height: 24px;
  outline: none;
  border: 1px solid transparent;
}

.project-one {
  width: 100%;
  background-image: url("./img/ImgPlaceholder(2).png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.project-inner {
  margin-top: 4rem;
  padding: 0.5rem 0.5rem;
}

.project-one .paragraph {
  color: #fff;
}

.display-head-project {
  font-weight: 400;
  font-family: "Crete Round", serif;
  color: #fff;
  text-align: left;
  line-height: 44px;
  font-size: 32px;
}

.anchor-div .anchor {
  color: #fff;
}

.btn-project {
  display: block;
  width: 100%;
}

.about {
  width: 100%;
}

.about-inner {
  width: 100%;
  background: #1c1a19;
}

.about-first-inner {
  margin: 0 0.5rem;
}

.about-me {
  width: 100%;
  margin-top: 4rem;
  height: 500px;
  background-image: url(./img/Group.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  border-bottom: 2px solid #ccc;
  margin-bottom: 2rem;
}

.about-me-inner {
  margin: 0 0.5rem;
}

.language,
.framework,
.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h3 {
  margin-left: 1rem;
  color: #fff;
  font-weight: 700;
  font-size: 32px;
}

ul {
  margin-left: -3rem;
}

.ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ul li {
  text-align: left;
}

.closure {
  width: 100%;
}

.clossure-inner {
  margin: 4rem 1rem 3rem 1rem;
}

form {
  width: 90%;
  margin-bottom: 2rem;
}

input {
  border: none;
  outline: none;
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid #dbd8d7;
  background: none;
  margin-bottom: 0.5rem;
}

textarea {
  border: 2px solid #dbd8d7;
  background: none;
  width: 90%;
  height: 114px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  font-weight: 500;
}

.border-top {
  border-top: 1px solid lightgray;
  padding-top: 3rem;
}

.w-100 {
  width: 100%;
}

.m-3 {
  margin: 0 1rem;
}

.hr-bold {
  background: #0d151e;
  width: 150px;
  height: 5px;
  margin: 0.5rem auto;
}

@media all and (min-width: 1025px) {
  .nav-item {
    display: flex;
    align-items: center;
  }

  .toggle-button {
    display: none;
  }

  .hero {
    padding: 2rem 0 1rem 0;
    height: 100vh;
    background-image: url("img/Illustration-headerdesktop.png");
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .hero-inner {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row-reverse;
  }

  .hero-inner .flex-align-center {
    flex-direction: column;
    margin-top: 2rem;
  }

  .desktop-max-width {
    max-width: 566px;
    margin-left: 2rem;
    margin-right: auto;
  }

  .h1 {
    max-width: 380px;
  }

  .flex-desktop {
    display: flex;
    align-items: center;
  }

  .grid-desktop {
    width: 100%;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .display-head {
    text-align: left;
    margin-bottom: 0;
  }

  .hr {
    width: 70%;
    margin: 2rem 0 0 1rem;
  }

  .lead-description {
    margin-top: -2rem;
  }

  .mobile-projects {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .projects {
    margin: 0 0.5rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .project-one {
    width: 100%;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }

  .first-project {
    background-image: url(img/ImgPlaceholderdesktop1.png);
  }

  .second-project {
    background-image: url(img/imgPlaceholderdesktop2.png);
  }

  .third-project {
    background-image: url(img/imgPlaceholderdesktop3.png);
  }

  .fourth-project {
    background-image: url(img/imgPlaceholderdesktop4.png);
  }

  .about-me {
    margin-top: 4rem;
    height: 500px;
    background-image: url(./img/Groupdesk.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    border-bottom: none;
    margin-bottom: 2rem;
  }

  .about-me-cont {
    margin-left: 4rem;
    margin-right: 6rem;
    border-bottom: 2px solid #ccc;
    padding-bottom: 8rem;
  }

  .about-me-inner {
    max-width: 500px;
    margin-right: auto;
  }

  .technologies {
    margin-left: 7rem !important;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: start;
  }

  .language,
  .framework,
  .skill {
    justify-content: flex-start;
  }

  .grid-desktops {
    margin-left: 4rem;
    margin-right: 4rem;
    display: grid;
    gap: 1rem;
    grid-template-areas: "a b b b";
  }

  .grid-desktop_para {
    grid-area: a;
    font-family: "Inter", sans-serif;
    max-width: 450px;
    font-size: 40px;
    line-height: 52px;
    font-weight: 500;
  }

  .grid-desktop form {
    grid-area: b;
  }

  .hr-bold {
    display: none;
  }
}

/* @media all and (min-width: 1025px) {
  .hero {
    padding: 2rem 0 1rem 0;
    height: 100vh;
    background-image: url("img/Illustration-headerdesktop.png");
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .about-me {
    margin-top: 4rem;
    height: 100vh;
    background-image: url(./img/Groupdesk.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    border-bottom: 2px solid #ccc;
    margin-bottom: 2rem;
  }
} */
